@page
@model SimpleAzureCosmosDbWebApp.Pages.AddSongModel
@{
    ViewData["Title"] = "Create";
}
    
	<div class="container">
	<form>
		<div class="field" tabindex="1">
			<label for="song name">
				<i class="far fa-user"></i>Song name
			</label>
			<input name="song" type="text" asp-for="song.Name" required>
		</div>
		<div class="field" tabindex="2">
			<label for="band">
				<i class="far fa-envelope"></i>Band name
			</label>
			<input name="band" type="text" asp-for="song.Band" required>
		</div>
		<div class="field" tabindex="3">
			<label for="singer">
				<i class="far fa-edit"></i>Singer
			</label>
			<input name="singer" type="text" asp-for="song.Singer" required>
		</div>
		<button type="submit">Add new song</button>
	</form>
</div>

<!-- This is not part of Pen -->
<a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank" style="color:#000"></a>

