@page
@model SimpleAzureCosmosDbWebApp.Pages.AddSongModel
@{
    ViewData["Title"] = "Create";
}

    <div class="parent">
        <h1>Add new song</h1>
        <form class="form" method="post">
            <div class="input-text">
                <input type="text" asp-for="song.Name" placeholder="Name of song" />
                <input type="text" asp-for="song.Band" placeholder="Band" />
                <input type="text" asp-for="song.Singer" placeholder="Singer" />

                <button class="submit-button" type="submit">Add song</button>
            </div>
        </form>
    </div>